pipeline/pipe_foreach.json
{
	"name": "pipe_foreach",
	"properties": {
		"activities": [
			{
				"name": "metadados",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_gen_csv",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "csvfiles",
							"file_name": "*.csv",
							"separator_name": ";"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_getmetadata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "metadados",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('metadados').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "loop_01",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "Lookup_sql",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_gen_azuresql",
						"type": "DatasetReference",
						"parameters": {
							"schemaname": "SalesLT",
							"tablename": "ProductCategory"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "filter_lookup_sql",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_sql').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().Name,'Bike') ",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_filter",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filter_lookup_sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_sql').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "loop_02",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "Lookup_csv",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_gen_csv",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "csvfiles",
							"file_name": "csvCor.csv",
							"separator_name": ";"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_lookup",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_csv').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "loop_03",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "adf02_activities"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-21T12:40:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}