pipeline/pratica_02.json
{
	"name": "pratica_02",
	"properties": {
		"activities": [
			{
				"name": "listar_parquet",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_gen_parquet",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "parquetfiles",
							"file_name": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "lista_parquet",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filtro_arquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('filtro_arquivos').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "parquet_to_sql",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_gen_parquet",
									"type": "DatasetReference",
									"parameters": {
										"container_name": "parquetfiles",
										"file_name": {
											"value": "@replace(item().Name, '.parquet', '')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_gen_azuresql",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": "SalesLT",
										"tablename": {
											"value": "@replace(item().name, '.parquet', '')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "proc_cor",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "lista_parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[SalesLT].[usp_remove_cores_duplicadas]"
				},
				"linkedServiceName": {
					"referenceName": "lsazuresql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "proc_cidade",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "lista_parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[SalesLT].[usp_remove_cidades_duplicadas]"
				},
				"linkedServiceName": {
					"referenceName": "lsazuresql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "filtro_arquivos",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "listar_parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('listar_parquet').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "adf03_handson01"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-21T17:21:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}